* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

.student-container {
  margin-top: 100px;

  display: flex;
  border-top: 2px solid black;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 15px;
}
.student-card {
  display: flex;
  width: 100%;
  cursor: pointer;

  transition: all 0.2s ease;
  border-bottom: 2px solid black;
  color: rgba(0, 0, 0, 0.5);
}

.student-card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* Styles for the expanded card */
.student-card.expanded {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* Since .student-name and .student-info are part of .student-card, 
   their background and text colors are inherited from .student-card when it has the 'expanded' class */
.student-name,
.student-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.student-hard-skills {
  display: flex;
}
.skills {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
.student-name {
  font-size: 24px;
  font-weight: 800;
}
.comment {
  border-bottom: 1px solid black;
}
.project.expanded {
  border-bottom: 1px solid black;
}
