* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

.student-container {
  width: 97vw;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

p {
  font-size: 15px;
}
.student-card {
  display: flex;
  width: 97vw;
  cursor: pointer;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  transition: background-color 0.2s ease;

  color: black;
}

.student-card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #000000;
}

/* Styles for the expanded card */
.student-card.expanded {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* Since .student-name and .student-info are part of .student-card, 
   their background and text colors are inherited from .student-card when it has the 'expanded' class */
.student-name,
.student-info {
  padding: 18px 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.student-info {
  margin-left: 20em;
}
.student-hard-skills {
  display: flex;
}
.skills {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
.student-name {
  font-size: 48px;
  font-weight: 800;
  padding-left: 1em;

  text-transform: uppercase;
}

/* Target the .project class within an expanded .student-card */
/* This is the lines*/
.student-card.expanded .student-hard-skills {
  border-top: 2px solid rgb(4, 3, 3);
  padding-top: 10px;
  margin-top: 10px;
}
/* Add a top border to the Language section */
/* This is the lines*/
.student-expanded-details .student-languages {
  border-bottom: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
