.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
  padding-top: 3rem;
}

.search-field {
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 2px solid black;
}

.filter-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.loading,
.error {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .search-bar {
    max-width: 800px;
  }
}
