* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* This ensures the container takes the full width of its parent */
  padding-bottom: 50px;
  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  padding: 0;
  margin: 0;
}
